html {
    background-color: #F6F6F6;
}

body {
    font-family: 'Open Sans', 'Lucida Grande', arial, sans-serif;
    font-size: 12px;
    color: #222222;
    background-color: #F6F6F6;
    margin: 0;
    padding: 0;
    height: 100%;
}


/* ooo */

#header {
    height: 100px;
    background: url("/cms/img/bgrd_header_about.png") repeat-x scroll left top rgba(0, 0, 0, 0);
}

#logo {
    padding-left: 30px;
    padding-top: 15px;
    float: left;
}

#search {
    float: right;
    margin: 40px 40px 0 0;
}

#outer1 {
    float: left;
    width: 190px;
    padding: 45px 10px;
}

#outer3 {
    float: right;
    width: 0px;
    padding: 0px;
}

#outer2 {
    margin: 10px 0px 10px 210px;
}

#outer1,
#outer2,
#outer3 {
    padding-bottom: 32767px;
    margin-bottom: -32767px;
}

#wrapper {
    /* overflow:hidden; */
    background: #F6F6F6;
}

#footer {
    clear: both;
    width: 100%;
    height: 20px;
}

.content {
    padding: 10px;
}

.red {
    color: red!important;
    font-weight: bold;
}

#eventhead {
    border: 1px solid #808080;
}

#eventcaption {
    background-color: #808080;
    color: white;
    font-weight: bold;
    padding: 7px 7px 7px 2px;
    height: 21px;
}

#eventinfo {
    background-color: #dcdcdc;
    padding: 5px;
    height: 100px;
}

.eventline {
    border-top: 1px solid #808080;
    padding: 5px;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.form-left,
.form-right {
    float: left;
    width: 49%;
}

.form-left label {
    width: 154px;
    display: block;
    float: left;
    padding-top: 4px;
}

.form-right label {
    width: 177px;
    display: block;
    float: left;
    padding-top: 4px;
}

#stream {
    width: 1020px;
}

.stream-left {
    width: 138px;
    float: left;
    border: 1px solid #808080;
    background-color: #DCDCDC;
    height: 130px;
    padding: 5px;
    margin-top: 56px;
}

.stream-right {
    float: left;
    width: 850px;
    margin-left: 20px;
}

#stream-list {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #000000;
    height: 500px;
    overflow: auto;
    padding: 10px;
    width: 800px;
}

.stream-line {
    border-bottom: 1px solid #808080;
    padding: 10px;
    margin-bottom: 10px;
}

.stream-head {
    display: block;
    color: #808080;
    margin-bottom: 20px;
}

.ui-button {
    outline: 0;
    margin: 0;
    padding: .4em 1em .5em;
    text-decoration: none !important;
    cursor: pointer;
    position: relative;
    text-align: center;
}

#dialog textarea,
#dialog_note textarea {
    height: 100px;
    margin-bottom: 20px;
    width: 360px;
    padding: 0.3em;
}

#dialog_mail textarea,
#dialog_prev textarea {
    height: 370px;
    margin-bottom: 20px;
    width: 560px;
    padding: 0.3em;
}

#validateTips {
    text-align: center;
    height: 16px;
    width: 370px;
}

#validateTipsM {
    text-align: center;
    height: 16px;
    width: 560px;
}

#validateTipsE {
    text-align: center;
    height: 16px;
    width: 340px;
}

.hidden {
    display: none;
}

.snav,
.pnav {
    cursor: pointer;
}

a.morelink {
    text-decoration: none;
    outline: none;
    background: #E78F08;
    display: block;
    width: 60px;
    padding: 3px;
    border-radius: 2px;
    border: 1px solid #E78F08;
    margin-top: 10px;
    color: #000000;
    font-weight: bold;
    text-align: center;
}

.morecontent span {
    display: none;
}

span.button {
    cursor: pointer;
    margin-left: 20px;
    display: block;
    width: 40px;
    padding: 2px;
    text-align: center;
    float: left;
    border: 1px solid transparent;
}

.caption {
    float: left;
    width: 900px;
    border: 1px solid transparent;
    padding: 2px;
}

#dialog_mail label {
    width: 52px;
    display: block;
    float: left;
    padding-top: 4px;
}

#dialog_mail input {
    width: 500px;
    display: block;
    float: left;
    margin-bottom: 5px;
}

#dialog_mail .space {
    margin: 10px 0 10px 0;
}

#tables {
    width: 610px;
}

#tables th,
#tables tr {
    height: 30px;
    text-align: left;
    padding-left: 10px;
}

#tables td {
    vertical-align: middle;
}

#tables td {
    color: black;
    font-weight: normal;
}

.field {
    display: block;
    /* width: 327px; */
    height: 18px;
    padding-top: 4px;
    font-weight: bold;
    padding-left: 154px;
}

.form-right span.field {
    padding-left: 177px;
}

.date {
    width: 80px;
}

#dialog_edit label {
    width: 120px;
    display: block;
    float: left;
    padding-top: 4px;
}

#dialog_edit input {
    width: 80px;
    display: block;
    margin-bottom: 5px;
}

#dialog_edit select {
    display: block;
    margin-bottom: 5px;
}

#dialog_edit .space {
    margin: 10px 0 10px 0;
}

#ui-datepicker-div {
    z-index: 10000;
}

.bgred {
    background-color: #F49595!important;
    background-image: none!important;
}

.bggreen {
    background-color: rgb(149, 244, 155)!important;
    background-image: none!important;
}

.opupl {
    cursor: pointer;
}

.filterG,
.filterW,
.filterM {
    float: left;
    display: block;
    padding: 0 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 4px;
    color: #222222;
    cursor: pointer;
}

.activeF {
    background-color: #3366CC;
    border: 2px solid #3366CC;
    color: #ffffff;
}

#export-csv {
    background-image: url("/cms/img/icon_ExportCsv_a.png");
    background-repeat: no-repeat;
    background-position: 10px 50%;
    width: 80px;
    padding-left: 30px;
}

input .date .update {
    height: 25px;
    font-size: 12px;
}

.tclose {
    background-image: url("/cms/img/f_delete.png");
    background-repeat: no-repeat;
    background-position: 0px 50%;
    padding-left: 20px;
}

.cat {
    float: right;
    padding-right: 10px;
}

.black {
    color: #000000;
    font-weight: normal;
}

.user {
    cursor: pointer;
}

#urights ul {
    margin: 10px 0px 10px 0px;
}

#urights ul ul {
    margin: 0px 0px 10px 0px;
    padding-left: 17px;
}

.fwidth {
    display: inline-block;
    width: 100px;
}

.page-header,
.page-content {
    background-color: #e4eaec !important;
}

.tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
}

#check_all_r {
    width: 17px;
    height: 17px;
}

.green {
    background: #67d933 !important;
    color: white !important;
}