.acc-c {
    padding: 4px 10px 4px 30px;
    background-image: url(../img/acc-closed.png);
    background-repeat: no-repeat;
    background-position: 5px 3px;
    cursor: pointer;
}

.acc-o {
    padding: 4px 10px 4px 30px;
    background-image: url(../img/acc-open.png);
    background-repeat: no-repeat;
    background-position: 5px 3px;
    cursor: pointer;
}


/* overlay */

.boxp {
    background-color: #ffffff;
    color: #888888;
    left: 100%;
    position: fixed;
    top: 15%;
    width: 700px;
    z-index: 101;
    border: 2px solid #FFA600;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.overlay {
    background: #000000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    opacity: 0.5;
    display: none;
}

a.boxclose {
    background: url(../img/cancel.png) repeat scroll left top transparent;
    cursor: pointer;
    float: right;
    height: 26px;
    left: 15px;
    position: relative;
    top: -15px;
    width: 26px;
}

.phead {
    background: #ffffff;
    color: #000000;
    padding: 2px 5px 5px 5px;
    font-size: 13px;
    text-align: left;
    width: 580px;
    line-height: 22px;
}

.orange {
    color: #FFA600;
    font-weight: bold;
}

.pbody {
    padding: 5px;
}

#main .panel form.popup {
    margin: 0;
    padding: 0;
    width: auto;
}

#main .panel form.popup td {
    padding: 10px 5px;
}

#main .panel form.popup input[type="button"] {
    height: 32px;
}

#main .panel form.popup input {
    width: auto;
}

#main .panel form.events {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#boxpopup tr {
    border-bottom: 0px solid transparent;
}

.bar {
    height: 18px;
    background: green;
}

.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 30px;
    width: 300px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

.btn-success {
    background-color: #5BB75B;
    background-image: linear-gradient(to bottom, #62C462, #51A351);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-success:hover {
    background-color: #AAB75B;
    background-image: linear-gradient(to bottom, #AAB75B, #62C462);
}

.progress {
    background-color: #F7F7F7;
    background-image: linear-gradient(to bottom, #F5F5F5, #F9F9F9);
    background-repeat: repeat-x;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.progress-success.progress-striped .bar,
.progress-striped .bar-success {
    background-color: #62C462;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-repeat: repeat-x;
}

.progress-striped .bar {
    background-size: 40px 40px;
}

.progress .bar {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    height: 100%;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    transition: width 0.6s ease 0s;
}

table.lett input,
table.lett textarea {
    width: 600px;
}

.optv {
    color: #808080;
}

.optv2 {
    margin-left: 20px;
}

.uplfi {
    font-style: italic;
    margin-left: 10px;
}

.hidden {
    display: none !important;
    visibility: hidden;
}


/* COUNTDOWN */

.example-base,
.example-blocks,
.example-coupon,
.example-multiple {
    background-color: #ddd;
    border: 1px solid transparent;
    border-radius: 1px;
    color: #444;
    margin: 20px 0;
    padding: 20px;
    text-align: center;
    transition: all 0.5s ease-in-out 0s;
    width: 600px;
}

.example-blocks span {
    display: inline-block;
    font-size: 2em;
    line-height: 2em;
    padding: 0 10px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.adresstable {
    width: 100%;
    border-collapse: collapse;
}

table.adresstable,
.adresstable td,
.adresstable th {
    border: 1px solid black;
    text-align: left;
}

#verleiher_nav,
.panel {
    color: transparent;
    line-height: 0;
}

#ichat {
    background-color: gray;
    color: white;
    padding: 5px;
    position: fixed;
    right: 2px;
    top: 2px;
    z-index: 1599;
}

#ichat a {
    background-image: url("/cms/img/ichat/inbox-7-24.png");
    background-position: 0 50%;
    background-repeat: no-repeat;
    color: transparent;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    overflow: hidden;
    padding-left: 24px;
    width: 0;
}

.badge {
    padding: 3px 6px;
    background-color: #e4eaec;
    border-radius: 10px;
    color: #76838f;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    min-width: 10px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.badge.up {
    margin: 0 -0.4em;
    border-radius: 15px;
    position: relative;
    top: -10px;
}

.badge-danger {
    background-color: #f96868;
    color: #fff;
}

.badge:empty {
    display: none;
}

.btninfo {
    position: relative;
    padding-right: 25px !important
}

.btninfo:before {
    position: absolute;
    font-family: 'Material Icons';
    top: 2px;
    right: 5px;
    content: "\e7f4";
}

h1 a,
h1 a:hover,
h1 a:visited {
    color: #1c94c4;
}

.bg-color-orange {
    background-color: #c79121 !important;
}

.label {
    padding: 0.2em 0.6em 0.3em !important;
    font-weight: 500 !important;
    display: inline;
    font-size: 75% !important;
    line-height: 1 !important;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}