<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{CompanyGroup}} Prüfzertifikat ({{Month}}.{{Year}})</title>
    <style type="text/css">
        body {
            width: 100% !important;
            -webkit-text-size-adjust: none;
            margin: 0;
            padding: 0;
        }
        
        img {
            border: 0;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
        }
        
        table td {
            border-collapse: collapse;
        }
        
        #backgroundTable {
            height: 100% !important;
            margin: 0;
            padding: 0;
            width: 100% !important;
        }
        
        body,
        #backgroundTable,
        #templateFooter,
        #templatePreheader {
            background-color: #EBEBEB;
        }
        
        .preheaderContent {
            color: #202020;
            font-family: Verdana;
            font-size: 9px;
            line-height: 125%;
            text-align: left;
        }
        
        .preheaderContent a:link,
        .preheaderContent a:visited,
        .preheaderContent a .yshortcuts {
            color: #202020;
            font-weight: normal;
            text-decoration: underline;
        }
        
        #templateHeader {
            background-color: #FFFFFF;
            border-bottom: 0;
        }
        
        .headerContent {
            color: #202020;
            font-family: Helvetica;
            font-size: 34px;
            font-weight: bold;
            line-height: 100%;
            padding: 20px;
            text-align: left;
            vertical-align: middle;
        }
        
        .headerContent a:link,
        .headerContent a:visited,
        .headerContent a .yshortcuts {
            color: #26ABE2;
            font-weight: normal;
            text-decoration: none;
        }
        
        #headerImage {
            height: auto;
            max-width: 600px !important;
        }
        
        h1,
        .h1 {
            text-transform: uppercase;
            color: #836E2C;
            display: block;
            font-family: Verdana;
            font-size: 20px;
            font-weight: normal;
            line-height: 100%;
            margin-top: 40px;
            margin-right: 0;
            margin-bottom: 40px;
            margin-left: 0;
        }
        
        h6 {
            font-weight: normal;
            margin: 0;
            padding: 0;
            color: #999999;
            font-family: Verdana;
        }
        
        p {
            margin-top: 0;
            margin-bottom: 10px;
            padding: 0;
            font-size: 13px;
            font-family: Verdana;
        }
        
        #tableErgebnis th,
        #tableErgebnis td {
            padding: 10px 5px;
            font-family: Verdana;
        }
        
        #tableErgebnis td {
            border-bottom: 1px #836E2C dotted;
            font-family: Verdana;
        }
        
        #templateFooter {
            border-top: 0;
            font-family: Verdana;
        }
        
        .footerContent {
            color: #202020;
            font-family: Verdana;
            font-size: 10px;
            line-height: 150%;
            text-align: left;
        }
        
        .footerContent a:link,
        .footerContent a:visited,
        .footerContent a .yshortcuts {
            color: #202020;
            font-weight: normal;
            text-decoration: underline;
        }
    </style>
</head>

<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="-webkit-text-size-adjust: none;margin: 0;padding: 0;background-color: #EBEBEB;width: 100% !important;">
    <center>
        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable" style="margin: 0;padding: 0;background-color: #EBEBEB;height: 100% !important;width: 100% !important;">
            <tr>
                <td align="center" valign="top" style="border-collapse: collapse;">

                    <!-- Template PreHeader START (Soll nur in der Mail angezeigt werden.) -->
                    <table border="0" cellpadding="10" cellspacing="0" width="600" id="templatePreheader" style="background-color: #EBEBEB;">
                        <tr>
                            <td valign="top" class="preheaderContent" style="border-collapse: collapse;color: #202020;font-family: Verdana;font-size: 9px;line-height: 125%;text-align: left;">
                                <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                    <tr>
                                        <td valign="top" style="border-collapse: collapse;font-size: 9px;">
                                            {{PersonalAdress}}
                                        </td>
                                        <!-- *|IFNOT:ARCHIVE_PAGE|* -->
                                        <td valign="top" width="190" style="border-collapse: collapse;font-size: 9px;">
                                            {{LinkBrowser}}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <!-- Template PreHeader END -->

                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="background-color: #FFFFFF; margin-top:20px">
                        <tr>
                            <td align="center" valign="top" style="border-collapse: collapse;">

                                <!-- Header mit Logo und Übersicht START -->
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader" style="background-color: #FFFFFF;border-bottom: 0;">
                                    <tr>
                                        <td class="headerContent" style="font-size:100%; font-weight:normal; font-family:Verdana; border-collapse: collapse; padding: 20px 20px 0 20px;text-align: left;vertical-align: top;">
                                            <h1>Prüfzertifikat <span style="color:#202020">{{Month}}.{{Year}}</span></h1>
                                        </td>
                                        <td style="width:200px; border-collapse:collapse; padding: 20px 20px 0 20px; vertical-align:top">
                                            <img src="https://www.izs.de/assets/images/zertifikat/izs-logo.jpg" width="200" height="auto" border="0" style="margin: 0;padding: 0;border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;">
                                        </td>
                                    </tr>
                                </table>

                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader" style="background-color: #FFFFFF;border-bottom: 0;">
                                    <tr>
                                        <td class="headerContent" colspan="2" style="font-size:100%; font-weight:normal; font-family:Verdana; border-collapse: collapse; padding: 0 20px 0 20px;text-align: left;vertical-align: top;">
                                            <h6>Geprüftes Unternehmen</h6>
                                            <p>{{CompanyGroup}}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="headerContent" style="font-size:100%; font-weight:normal; font-family:Verdana; border-collapse: collapse; padding: 0 20px 20px 20px;text-align: left;vertical-align: top; width: 130px;">
                                            <h6>Datum der Erstellung</h6>
                                            <p>{{CreateDate}}</p>
                                            <h6>Registriert seit</h6>
                                            <p>{{RegistedSince}}</p>
                                            <h6>Link zur PDF-Version</h6>
                                            <p>
                                                <a href="{{PdfUrl}}" target="_blank" style="text-decoration:none;color:#202020;"><img align="top" src="https://www.izs.de/assets/images/zertifikat/icon_pdf.png"> PDF-Dokument</a>
                                            </p>
                                        </td>
                                        <td class="headerContent" style="font-size:100%; font-weight:normal; font-family:Verdana; border-collapse: collapse; padding: 0 20px 20px 20px;text-align: left;vertical-align: top;">
                                            <h6>Link zur Unternehmensseite</h6>
                                            <p><a href="{{CompanyUrl}}" target="_blank" style="text-decoration:none;color:#202020;">{{CompanyUrlDisplay}}</a></p>
                                            <h6>Gesamtstatus seit Registrierung</h6>
                                            <p>{{EntireStatus}}</p>
                                            <h6>Hinweis zum Gesamtstatus</h6>
                                            <p>{{EntireStatusNote}}</p>
                                        </td>
                                    </tr>
                                </table>

                                <!-- Header mit Logo und Übersicht ENDE -->

                                <!-- Einleitungstext und Prüfergebnis START -->
                                <table border="0" cellpadding="0" cellspacing="0" width="600" style="background-color: #FFFFFF;border-bottom: 0;">
                                    <tr>
                                        <td style="padding:20px;font-family:Verdana; font-size:12px; color:#202020;line-height:130%; text-align:justify">
                                            Wir haben auf Basis der <strong>SV-Beitragsnachweisdaten für den Monat {{Month}}/{{Year}},</strong> welche von den nachstehend genannten Betriebsstätten frist- und formgerecht an IZS übermittelt wurden, sämtliche
                                            Meldungen überprüft.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-collapse:collapse; padding:0 20px 0 20px" width="600">
                                            <table border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td style="border-collapse:collapse;"><img src="https://www.izs.de/assets/images/zertifikat/izs-pruefplakette.jpg" width="109" height="109"></td>
                                                    <td style="background-color:#eeeeee;border-collapse:collapse; padding:0 20px;font-size:12px;font-family:Verdana; text-align:justify">
                                                        Nach unserem Kenntnisstand bestehen aktuell bei <strong>keiner der angefragten Krankenkassen Beitragsrückstände >100 EUR.</strong>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- Einleitungstext und Prüfergebnis ENDE -->
                                <table border="0" cellpadding="0" cellspacing="0" width="600" style="background-color: #FFFFFF;border-bottom: 0;margin-top:20px">
                                    <tr>
                                        <td style="font-size:12px; line-height:130%; font-weight:normal; font-family:Verdana; border-collapse: collapse; padding: 20px;text-align: left;vertical-align: top;">
                                            {{Accounts}}
                                            <!-- Tabelle Adresse START -->
                                            <table border="0" cellpadding="0" cellspacing="0" style="margin-top:30px">
                                                <tr>
                                                    <td style="font-size:12px;line-height:130%;color:#202020; text-align:justify; font-family:Verdana;">
                                                        Wir garantieren, dass uns sämtliche Auskünfte im Original vorliegen und von den Krankenkassen direkt an uns gesendet wurden. Für Fragen und weitere Informationen stehen wir Ihnen jederzeit gerne zur Verfügung.<br
                                                        /><br /><br />
                                                        <strong>IZS Institut für Zahlungssicherheit GmbH</strong><br /> Würmtalstraße 20a &middot; 81375 M&uuml;nchen<br /><br /> Telefon: 089 122237770<br /> Fax: 089 122237779<br />
                                                        <a href="mailto:infoservice@izs-institut.de" style="color:#202020;text-decoration:none">E-Mail: infoservice@izs-institut.de</a><br /><br /><br /> Falls Sie den Infoservice nicht mehr erhalten möchten,
                                                        klicken Sie bitte <a href="{{Unsubscribe}}">hier</a>.
                                                    </td>
                                                </tr>
                                            </table>
                                            <!-- Tabelle Adresse END -->
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <!-- // Footer START -->
                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateFooter" style="background-color: #EBEBEB;border-top: 0;">
                        <tr>
                            <td valign="top" class="footerContent" style="padding-top: 20px;padding-bottom: 40px;border-collapse: collapse;color: #202020;font-family: Verdana;font-size: 10px;line-height: 150%;text-align: left;">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td valign="top" style="border-collapse: collapse;font-size: 10px;">
                                            Copyright &copy; 2013 IZS Institut f&uuml;r Zahlungssicherheit. <a href="https://www.izs.de/agb.html" target="_blank" style="color: #202020;font-weight: normal;text-decoration: underline;">Es gelten unsere Allgemeinen Geschäftsbedingungen</a><br
                                            />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <!-- Footer END -->
                </td>
            </tr>
        </table>
    </center>
</body>

</html>