:root {
  --orange: #EB7023;
  --green: #58B8A3;
  --grey: #DFDFDF;
  --off-white: #F7F7F7;
  --white: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a2023;
}

body {
  margin: 0;
  padding: 2rem;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 30px;
  min-width: fit-content;
  display: grid;
  place-content: center;
}

.page-wrapper {
  aspect-ratio: 1500 / 1060; /* A4 Landscape */
  width: 1500px;
  background-color: var(--white);
  display: flex;
  position: relative;
}

.page-wrapper aside {
  background-color: var(--off-white);
  width: 596px;
  height: 100%;
  padding: 90px;
  padding-left: 100px;
  font-size: 12px;
  line-height: 22px;
  flex-shrink: 0;
}

.page-wrapper aside .logo {
  display: block;
  margin-left: -10px;
  margin-bottom: 90px;
}

.page-wrapper aside h2 {
  margin-top: 64px;
  margin-bottom: 32px;
  font-size: 24px;
}

.page-wrapper aside header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--grey);
  padding-bottom: 12px;
}

.page-wrapper aside header svg {
  display: block;
  margin-right: 10px;
}

.page-wrapper aside h3 {
  font-size: 14px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 0;
}

.page-wrapper aside section:not(:last-child) {
  margin-bottom: 18px;
}

.page-wrapper aside section p {
  margin-bottom: 0;
}

.page-wrapper aside footer {
  margin-top: 56px;
  background-color: var(--white);
  padding: 25px 32px;
  padding-bottom: 15px;
  border-radius: 3px;
  page-break-inside: avoid;
}

.page-wrapper aside footer p {
  margin: 0;
}

.page-wrapper aside footer p:first-child a {
  text-decoration: none;
  color: var(--orange);
}

.page-wrapper aside footer p:last-child a {
  color: inherit;
  font-size: 16px;
  line-height: 38px;
  text-decoration: none;
}

.page-wrapper main {
  padding-top: 170px;
  padding-left: 136px;
  padding-right: 110px;
  padding-bottom: 100px;
}

.page-wrapper main .sticker {
  position: absolute;
  top: 90px;
  right: 75px;
  width: 180px;
  height: 180px;
  text-align: center;
  background-color: var(--green);
  color: var(--white);
  display: grid;
  place-content: center;
  border-radius: 50%;
  box-shadow: 1px 4px 0px rgba(0,0,0,0.10);
  transform: rotate(-11.83deg);
}

.page-wrapper main .sticker h3 {
  margin: 0;
}

.page-wrapper main h1 {
  font-weight: normal;
  font-size: 128px;
  line-height: 1;
  margin: 0;
  letter-spacing: -0.04em;
}

.page-wrapper main .subline {
  margin: 0;
  margin-left: 4px;
  margin-bottom: 74px;
}

.page-wrapper main header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--grey);
  margin-bottom: 27px;
  padding-bottom: 26px;
}

.page-wrapper main header svg {
  margin-right: 20px;
  display: block;
  flex-shrink: 0;
}

.page-wrapper main header h2 {
  font-size: 34px;
  line-height: 32px;
  margin: 0;
}

.page-wrapper main address {
  font-style: normal;
  margin-top: 0;
  margin-bottom: 28px;
}

.page-wrapper main a.button {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
  color: var(--white);
  background-color: var(--orange);
  border-radius: 3px;
  padding: 12px 24px;
  margin-bottom: 90px;
}

.page-wrapper main .disclaimer {
  margin: 0;
}

.page-wrapper main .disclaimer a {
  text-decoration: none;
  color: var(--orange);
}

.page-wrapper main footer {
  margin-top: 32px;
  page-break-inside: avoid;
}

.page-wrapper main footer p {
  margin-bottom: 0;
}

.page-wrapper main footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 24px;
}

.page-wrapper main footer li {
  display: flex;
  align-items: center;
}

.page-wrapper main footer svg {
  display: block;
  margin-right: 8px;
}

.page-wrapper .qr-code {
  width: 105px;
  position: absolute;
  bottom: 102px;
  right: 91px;
  background-color: #272A2F;
  color: var(--white);
  border-radius: 5px;
  padding: 9px;
}

.page-wrapper .qr-code p {
  margin: 0;
  margin-bottom: 9px;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
}

.page-wrapper .qr-code p strong {
  font-weight: 500;
}

.page-wrapper .qr-code figure {
  margin: 0;
  padding: 6px;
  border-radius: 5px;
  background-color: var(--white);
}

.page-wrapper .qr-code img {
  display: block;
  max-width: 100%;
}

@media print {
  @page {
    size: A4 landscape;
    margin: 0;
    padding: 0;
  }

  html {
    height: 100%;
  }

  body {
    display: block;
    padding: 0;
    height: 100%;
  }

  .page-wrapper {
    height: 100%;
    aspect-ratio: auto;
    overflow: hidden;
  }

  .page-wrapper main,
  .page-wrapper aside {
    padding-bottom: 0;
  }
}
