@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}

article>*+* {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    margin: 0;
    padding: 0;
    background: #F5F6F8;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #262B3C;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: fixed;
    background: #fff;
    width: 100%;
    top: 0;
    padding: 0px 10px;
    box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 19%);
}

.menu_button {
    display: none;
}

.section_1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 289px;
    margin: 30px auto;
    margin-top: 80px;
}

.section_1_1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.section_1 img {
    height: 14px;
    width: 14px;
}

.section_1 span {
    line-height: 16px;
    font-size: 13px;
    margin-left: 8px;
}

h2 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 900;
    text-align: center;
    margin: 0 0 5px 0px;
}

.section_2 div {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0px 0px 30px 0px;
}

.section_3 {
    -webkit-box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 19%);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 19%);
    width: calc(100vw - 20px);
    padding: 30px 0;
    padding-bottom: 15px;
    background: #fff;
    border-radius: 6px;
    margin: 0 auto 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
}

.section_3_top {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 900;
    line-height: 19px;
    height: 19px;
}

.section_3 img {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.section_3_red {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    color: #F06500;
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    max-width: 90%;
}

.section_3_red.long {
    color: #605E56;
    margin-bottom: 15px;
}

.section_3_red.red {
    color: #F15249;
    margin-bottom: 15px;
}

.section_4 {
    -webkit-box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 19%);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 19%);
    width: calc(100vw - 20px);
    padding: 14px 15px;
    background: #fff;
    border-radius: 6px;
    margin: 0 auto 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: start;
    color: #605E56;
}

.section_4_1 {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 8px;
    width: 100%;
}

.section_4_2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin-bottom: 8px;
    width: 100%;
}

.section_4_3 {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 5px;
    width: 100%;
}

.section_4_4 {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 25px;
    width: 100%;
}

.section_4_4:last-child {
    margin: 0;
}

.section_5_1 {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;
    color: #605E56;
    margin-bottom: 20px;
}

.section_5_2_text {
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #605E56;
}

.section_5_2_price {
    text-align: center;
    font-size: 40px;
    line-height: 48px;
    font-weight: 900;
    color: #605E56;
}

.section_5_3 {
    background: #F06500;
    width: 220px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    margin: 20px auto;
    text-decoration: none;
}

.right_section_6 {
    margin-top: 40px;
    margin-bottom: 50px;
}

.right_section_6_1 {
    color: #605E56;
    width: calc(100% - 20px);
    margin: auto;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 15px;
}

.right_section_6 a {
    color: #605E56;
}